    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    // FIXES, FONTS, RULES
    body {
        font-family: 'Rajdhani', sans-serif;
    }
    
    h3,
    p {
        margin: 0;
    }
    
    a,
    a:hover {
        text-decoration: none;
        color: #000;
    }
    
    .carousel-control-next-icon {
        background-image: none;
    }
    
    * {
        line-height: normal;
    }
    
    *,
    *:focus {
        outline: none;
        border: none;
    }
    
    .main {
        display: flex;
        flex-direction: column;
    }
    
    .wrapper {
        display: flex;
        position: relative;
        max-width: 1237px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .slick-slide {
        & img {
            width: 100%;
            height: 100%;
        }
    }
    
    // __________________SECTION LOGO CAROUSEL____________________
    .logo_car_bg_block {
        background-color: #c5c5c5;
        height: 16px;
        & span {
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1.06px;
        }
        & .wrapper {
            display: block;
            text-align: center;
            & .slick-list {
                position: relative;
                transform: translate3d(0px, -3px, 0px);
            }
            & ul[role="tablist"] {
                display: flex;
                list-style: none;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 4px;
                & li {
                    margin-right: 10px;
                    cursor: pointer;
                    &:after {
                        content: '';
                        width: 7px;
                        height: 8px;
                        border: 1px solid #010202;
                        position: absolute;
                        background-color: #c5c5c5;
                        border-radius: 50%;
                    }
                }
                & li.slick-active::after {
                    background-color: #000000;
                }
                & button {
                    display: none;
                }
            }
        }
    }
    
    section.logo_carousel {
        & .carousel-inner {
            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
    
    section.logo_carousel .logo_carousel_main .carousel-indicators {
        margin-bottom: 26px;
    }
    
    section.logo_carousel .logo_carousel_main .carousel-indicators i {
        color: #fff;
        margin: 0 3px 0 3px;
        font-size: 18px;
        cursor: pointer;
    }
    
    section.logo_carousel .logo_carousel_main .carousel-indicators i.active {
        color: #000;
    }
    
    section.logo_carousel .logo_carousel_main .carousel-caption {
        display: flex;
        flex-direction: column;
        bottom: 50%;
        width: 315px;
        height: 146px;
        & h3,
        & p {
            color: #000;
            margin-top: 9px;
        }
        & h3 {
            font-size: 35px;
        }
        & p {
            font-family: "Courier New PSMT";
            font-size: 23px;
            letter-spacing: 2px;
            font-weight: 400;
            text-transform: capitalize;
        }
        & span {
            font-weight: 700;
        }
        & .line {
            width: 316px;
            border-top: 2px solid #000;
            margin: 0 auto 2px auto;
        }
        & .confirm {
            margin-top: 45px;
            font-size: 25px;
            font-weight: 500;
            border: 2px solid #000;
            width: 118px;
            height: 37px;
            align-self: center;
            transition: background, color .5s;
        }
        & .confirm:hover {
            background: #000;
            color: #fff;
        }
    }
    
    //_________________END SECTION LOGO CAROUSEL_____________________________
    // __________________SECTION HEADER____________________
    header {
        background: #000;
        height: 46px;
        & .wrapper {
            height: 100%;
        }
        & * {
            color: #fff;
        }
        & .menu a i {
            font-size: 21px;
        }
        & .logo {
            padding-left: 95px;
            & h1 {
                font-size: 30px;
                font-weight: 700;
                letter-spacing: -1.5px;
                margin-bottom: 0;
            }
        }
        & .login {
            & span:first-child {
                font-size: 26px;
            }
            & span:last-child {
                margin-left: 25px;
                position: relative;
                top: -4px;
                & span {
                    font-size: 16px;
                    font-weight: 500;
                    margin: -5px 0 0px -2px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    color: #000;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: -8px 0px 0px -8px;
                    z-index: 1;
                }
            }
        }
    }
    
    // Heading Section
    div.heading_section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 33px 0 24px 0;
        & span {
            color: #393939;
            font-size: 24px;
            font-weight: 400;
            margin: 0 24px 0 24px;
            line-height: normal;
        }
    }
    
    // END Heading Section
    // PRODUCTS SECTION 
    section.products {
        text-align: center;
        & .wrapper {
            display: block;
            max-width: 1187px;
        }
        & .wrapper:after {
            clear: both;
        }
        & .sale_block {
            & p {
                text-decoration: line-through;
                color: #888888;
            }
            & .sale {
                & img {
                    position: absolute;
                    top: -20px;
                    left: -12px;
                    display: block!important;
                    width: 55px;
                    height: 72px;
                }
                & .sale_percent {
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    font-size: 19px;
                    font-weight: 700;
                    transform: rotate(-45deg);
                    color: #fff;
                }
                & .sale_price {
                    font-size: 17px;
                    font-weight: 700;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -28.35px;
                    margin-bottom: -20px;
                }
            }
        }
        & img {
            width: 100%;
            height: 100%;
        }
        & .fa-chevron-left {
            position: absolute;
            cursor: pointer;
            top: 50%;
            left: 0;
            margin-top: -23px;
            margin-left: -26px;
            font-size: 22px;
            z-index: 3;
            color: #d0d0d0;
        }
        & .fa-chevron-right {
            position: absolute;
            cursor: pointer;
            top: 50%;
            right: 0;
            margin-top: -23px;
            margin-right: -26px;
            font-size: 22px;
            color: #d0d0d0;
        }
        & a {
            position: absolute;
            bottom: 0;
            left: 50%;
            background-color: #000;
            opacity: 0;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            padding: 4px 0;
            width: 100%;
            transition: opacity .5s;
            transform: translate(-50%, -82%);
        }
        & .slick-slide {
            position: relative;
            margin: 0 7.8px;
        }
        & .product_capousel {
            & .slick-list {
                margin: 0 -7.8px;
                padding-top: 21px!important;
                padding-bottom: 21px!important;
                margin-top: -21px!important;
                margin-bottom: -21px!important;
            }
            & .slick-slide {
                & img:nth-child(2) {
                    display: none;
                    width: 100%;
                    height: 100%;
                }
                & .x2_block span {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-bottom: -19px;
                    margin-left: -39.07px;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            & .slick-slide:hover {
                & img:first-child {
                    display: none;
                }
                & img:nth-child(2) {
                    display: block;
                }
            }
        }
        & .slick-slide:hover a {
            opacity: 0.66;
        }
        & p {
            font-size: 14px;
            font-weight: 500;
            margin-top: 4px;
        }
    }
    
    // DIVIDER
    div.divider {
        margin: 65px 0 38px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    // END DIVIDER
    // SECTION CATEGORY _____________________
    section.category {
        & .wrapper {
            flex-direction: column;
            & .category_row {
                display: flex;
                flex-direction: row;
                margin-bottom: 25px;
                & .category_block {
                    position: relative;
                    & img {
                        width: 100%;
                    }
                    & .category_name {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        z-index: 3;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        & h2 {
                            text-shadow: 0 3px 0 #141518;
                            color: #fff;
                            letter-spacing: 5px;
                            font-size: 34px;
                        }
                        & p {
                            color: #ffffff;
                            opacity: 0;
                            font-size: 19px;
                        }
                        & div {
                            width: 100px;
                            border-bottom: 1px solid rgba($color: #000000, $alpha: 0);
                            margin-bottom: 25px;
                        }
                    }
                }
                & .category_block::after {
                    content: '';
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($color: #000000, $alpha: .6);
                }
                & .category_block:hover::after {
                    display: block;
                }
                & .category_block:hover {
                    & p {
                        opacity: 1;
                    }
                    & .category_name div {
                        border-bottom: 1px solid #787878;
                    }
                }
                & a:first-child {
                    margin-right: 15px;
                }
                & a:last-child {
                    margin-left: 15px;
                }
            }
            & .category_row:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    // END SECTION CATEGORY _____________________
    // SECTION GALLERY___________________
    section.gallery {
        & .wrapper {
            display: block;
        }
        & .slick-slide {
            & .likes {
                color: #fff;
                opacity: 0;
                font-size: 25px;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
        }
        /* the slides */
        & .slick-slide {
            position: relative;
            margin: 0 12.25px;
        }
        & .slick-slide::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0);
        }
        & .slick-slide:hover {
            &::after {
                background-color: rgba($color: #000000, $alpha: 0.66);
            }
            & .likes {
                opacity: 1;
            }
        }
        /* the parent */
        & .slick-list {
            margin: 0 -12.25px;
        }
    }
    
    // END SECTION GALLERY___________________
    // SECTION USA GALLERY___________________
    section.usa_gallery {
        margin-bottom: 72px;
        & .wrapper {
            display: block;
        }
        /* the parent */
        & .slick-list {
            margin: 0 -15px;
        }
        /* the slides */
        & .slick-slide {
            position: relative;
            margin: 0 15px;
            & .name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                font-size: 24px;
                color: #fff;
                z-index: 3
            }
        }
        & .slick-slide::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0);
        }
        & .slick-slide:hover {
            &::after {
                background-color: rgba($color: #000000, $alpha: 0.66);
            }
            & .name {
                opacity: 1;
            }
        }
    }
    
    // SECTION USA GALLERY___________________
    // FOOTER__________________
    footer {
        & .enext_group {
            display: none;
            background-color: #f1f1f1;
            height: 48px;
        }
        & .footer_links {
            margin-bottom: 53px;
            & .wrapper {
                display: block;
                & form {
                    display: flex;
                    & input,
                    & span,
                    & button {
                        width: 40%;
                        height: 54px;
                        font-size: 19px;
                    }
                    & span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #000;
                        color: #fff;
                        letter-spacing: 1.83px;
                    }
                    & .arrow-right {
                        width: 0px;
                        height: 0px;
                        border-top: 27px solid transparent;
                        border-bottom: 27px solid transparent;
                        border-left: 16px solid #000;
                        margin-right: 10px;
                    }
                    & .inp_name {
                        margin-right: 6px;
                        border: 2px solid #d0d0d0;
                    }
                    & .inp_email {
                        margin-right: 14px;
                        border: 2px solid #d0d0d0;
                    }
                    & input {
                        flex-basis: 75%;
                        text-align: center;
                    }
                    & button {
                        position: relative;
                        background-color: #d0d0d0;
                        font-weight: 600;
                        &::after {
                            content: '';
                            width: 100%;
                            height: 4px;
                            background-color: rgba(20, 21, 24, 0.75);
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-top: -1px;
                            transform: translate(-50%, -100%);
                        }
                        border: none
                    }
                }
            }
        }
        & .contacts {
            & .wrapper {
                height: 100%;
            }
            height: 36px;
            background-color: #000;
            color: #fff;
            & a {
                &:first-child {
                    margin-right: 43px;
                }
                &:nth-child(2) {
                    margin-right: 32px;
                }
                &:nth-child(3) {
                    margin-right: 28px;
                }
                color: #fff;
                font-size: 15px;
                letter-spacing: 0.55px;
            }
            & .contacts_media {
                & a {
                    margin-left: 10px;
                    margin-right: 0;
                    & i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    // END FOOTER__________________
    // MEDIA________________
    @media screen and (max-width: 1283px) {
        .slick-list img {
            width: 100%;
        }
        .wrapper {
            padding: 0 19px;
        }
        section.logo_carousel .logo_carousel_main .carousel-indicators i {
            font-size: 12px;
        }
        section.products .product_capousel .slick-slide img:nth-child(2) {
            width: 100%;
            height: 100%;
        }
        section.logo_carousel .logo_carousel_main .carousel-caption {
            display: flex;
            flex-direction: column;
            bottom: 50%;
            width: 205px;
            height: 96px;
            & h3 {
                font-size: 23px;
            }
            & p {
                font-size: 15px;
            }
            & .line {
                width: 205px;
            }
            & .confirm {
                margin-top: 30px;
                font-size: 16px;
                font-weight: 500;
                width: 78px;
                height: 25px;
            }
            & .confirm:hover {
                background: #000;
                color: #fff;
            }
        }
        header {
            height: 36px;
            & .wrapper {
                & .menu {
                    & img {
                        width: 27px;
                        height: 17px;
                    }
                }
                & .login {
                    & span {
                        &:first-child {
                            font-size: 22px;
                        }
                        &:last-child {
                            margin-left: 18px;
                            top: -1px;
                            & span {
                                font-size: 13px;
                                margin: -1px 0 0px 1px;
                            }
                            & img {
                                &:nth-child(2) {
                                    width: 23px;
                                    height: 23px;
                                    margin: -5px 0px 0px -4px;
                                }
                                &:last-child {
                                    width: 30px;
                                    height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        section.products {
            & .wrapper {
                width: 100%;
                padding: 0;
                & .slick-list {
                    margin: 0;
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        width: 37px;
                        z-index: 4;
                        background-color: rgba(255, 255, 255, 0.7);
                    }
                    &::before {
                        top: 0;
                        left: 0;
                    }
                    &::after {
                        top: 0;
                        right: 0;
                    }
                    & .slick-slide {
                        margin: 0 13px;
                    }
                }
                & .fa-chevron-right {
                    margin-right: 11px;
                    color: #000000;
                }
                & .fa-chevron-left {
                    margin-left: 11px;
                    color: #000000;
                }
            }
        }
        section.category {
            & .wrapper {
                & .category_row {
                    margin-bottom: 16px;
                    & a {
                        &:last-child {
                            margin-right: 0;
                            margin-left: 0;
                        }
                        margin-right: 16px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    & .category_block {
                        & .category_name {
                            transform: translate(-50%, -20%);
                            & h2 {
                                font-size: 20px!important;
                                margin-bottom: 0;
                            }
                            & div {
                                margin: 5px 0 5px 0;
                            }
                        }
                    }
                }
            }
        }
        section.usa_gallery {
            margin-bottom: 40px;
        }
        footer {
            & .footer_links {
                margin-bottom: 35px;
                & .wrapper {
                    & form {
                        display: flex;
                        & input,
                        & span,
                        & button {
                            width: 40%;
                            height: 32px;
                            font-size: 14px;
                        }
                        & .arrow-right {
                            border-top: 16px solid transparent;
                            border-bottom: 16px solid transparent;
                            border-left: 8px solid #000;
                            margin-right: 6px;
                        }
                    }
                }
            }
            & .contacts {
                & .wrapper {
                    & a {
                        font-size: 14px;
                    }
                }
                & .contacts_media {
                    & a {
                        & i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        section.gallery {
            & .slick-slide {
                margin: 0 7.5px;
            }
        }
        section.usa_gallery {
            & .slick-slide {
                margin: 0 8.5px;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        section.products {
            & .wrapper {
                & .slick-list {
                    &::before,
                    &:after {
                        width: 44px;
                    }
                    & .slick-slide {
                        margin: 0 6.5px;
                    }
                }
            }
        }
        div.divider {
            margin-top: 20px;
            & img {
                width: 129px;
                height: 30px;
            }
        }
        div.heading_section {
            margin: 29px 0 22px 0;
            & span {
                font-size: 20px;
                margin: 0 17px 0 17px;
            }
            & img {
                width: 41px;
                height: 8px;
            }
        }
    }
    
    @media screen and (max-width: 650px) {
        footer {
            & .contacts {
                display: none;
            }
            & .enext_group {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    
    @media screen and (max-width: 600px) {
        .wrapper {
            padding: 0 15px;
        }
        section.products .wrapper .slick-list .slick-slide {
            margin: 0 5px;
        }
        section.products .wrapper .slick-list::before,
        section.products .wrapper .slick-list:after {
            width: 46px;
        }
        section.category .wrapper .category_row {
            flex-direction: column;
            margin-bottom: 0;
            & a {
                margin-bottom: 12px;
                &:first-child {
                    margin-right: 0;
                }
            }
        }
        footer {
            & .footer_links form {
                flex-direction: column;
                & .arrow-right {
                    display: none;
                }
            }
        }
        footer .footer_links .wrapper form input,
        footer .footer_links .wrapper form span,
        footer .footer_links .wrapper form button {
            width: 100%;
            margin-bottom: 5px;
        }
        div.heading_section span {
            font-size: 18px;
        }
        .logo_car_bg_block .wrapper ul[role="tablist"] {
            display: none;
        }
        .logo_car_bg_block .wrapper {
            padding: 0;
        }
        header .wrapper .login .logspan {
            display: none;
        }
        header .logo {
            padding-left: 0;
        }
        header .wrapper .menu img {
            height: 16px;
            width: 27px;
        }
        header .wrapper .menu {
            margin-right: 24px;
        }
    }
    
    @media screen and (max-width: 350px) {
        header .wrapper {
            padding: 0 13px;
            & .menu {
                margin-right: 12px;
            }
            & .login span:last-child {
                margin-left: 12px;
            }
        }
        section.category .wrapper .category_row .category_block .category_name {
            width: fit-content;
        }
        section.logo_carousel {
            & .logo_carousel_main {
                & .carousel-inner {
                    height: 195px;
                    & .carousel-item {
                        height: 195px;
                        & img {
                            transform: scale(1.7, 1) translate(31px, 0px);
                        }
                        & .carousel-caption {
                            width: 129px;
                            bottom: 39%;
                            left: 5%;
                            & h3 {
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                            & p {
                                font-size: 11px;
                                margin-top: 6px;
                                letter-spacing: 0.29px;
                            }
                            & .confirm {
                                margin-top: 14px;
                            }
                            & .line {
                                width: 131px;
                                margin: 0;
                            }
                        }
                    }
                }
                & .carousel-indicators {
                    margin-bottom: 13px;
                }
            }
        }
        section.gallery .wrapper .slick-list::after,
        section.gallery .wrapper .slick-list::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 42px;
            z-index: 4;
            background-color: rgba(255, 255, 255, 0.7);
        }
        section.gallery .wrapper .slick-list::before {
            top: 0;
            left: 0;
        }
        section.gallery .wrapper .slick-list::after {
            top: 0;
            right: 0;
        }
        section.usa_gallery .wrapper .slick-list::after,
        section.usa_gallery .wrapper .slick-list::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 42px;
            z-index: 4;
            background-color: rgba(255, 255, 255, 0.7);
        }
        section.usa_gallery .wrapper .slick-list::before {
            top: 0;
            left: 0;
        }
        section.usa_gallery .wrapper .slick-list::after {
            top: 0;
            right: 0;
        }
        section.usa_gallery {
            margin-bottom: 52px;
        }
        footer .footer_links {
            margin-bottom: 57px;
        }
    }